body {
    font-family: Russo One;
    background-image: url("images/blackjack-bg.jpg");
    background-size: cover;

    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: rgb(98, 255, 6);


}

#message-el {
    font-style: italic;
}

.container {
    background-color: #010a38;
    border: 2px solid rgb(98, 255, 6);
    max-width: 300px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 150px auto;
    box-shadow: inset 2px 2px 20px rgb(154, 252, 97);
}

.container p {
    color: #21f5ab;
    font-weight: 100;
}

button {
    color: rgb(98, 255, 6);
    width: 150px;
    background: #101d5b;
    padding-top: 5px;
    padding-bottom: 5px;

    border: none;
    border-radius: 2px;
    margin-bottom: 6px;
    margin-top: 6px;
    box-shadow: 2px 2px 10px rgb(154, 252, 97);
    transition: background-color 0.15s, color 0.15s,
        box-shadow 0.15s;
}

button:hover {
    color: rgb(16, 29, 91);
    background-color: rgb(98, 255, 6);
    box-shadow: 2px 2px 10px rgb(37, 73, 255);
}